<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="registerForm" (ngSubmit)="registerFormSubmit()">
    <ion-list>
      <ion-item>
        <ion-label floating>e-mail</ion-label>
        <ion-input type="passwordConfirmation" formControlName="email" [(ngModel)]="this.registro.email" ></ion-input>
      </ion-item>
      <ion-item class="invalid-message" *ngIf="registerForm.controls.email.errors && (registerForm.controls.email.dirty || registerForm.controls.email.touched )">
        <p [hidden]="!registerForm.controls.email.errors.email">invalid email</p>
        <p [hidden]="!registerForm.controls.email.errors.required">this field is required</p>
      </ion-item>
      <ion-item>
        <ion-label floating>confirm e-mail</ion-label>
        <ion-input type="email" #emailConfirmation formControlName="emailConfirmation" [(ngModel)]="this.registro.emailConfirmation" (focusout)="onFocusOut(emailConfirmation)"></ion-input>
      </ion-item>
      <ion-item class="invalid-message" *ngIf="registerForm.controls.emailConfirmation.errors && (registerForm.controls.emailConfirmation.dirty || registerForm.controls.emailConfirmation.touched )">
        <p [hidden]="!registerForm.controls.emailConfirmation.errors.email">invalid email</p>
        <p [hidden]="!registerForm.controls.emailConfirmation.errors.required">this field is required</p>
        <p [hidden]="!emailMismatch">email mismatch</p>
      </ion-item>
      <ion-item>
        <ion-label floating>password</ion-label>
        <ion-input type="password" formControlName="password" [(ngModel)]="registro.password"></ion-input>
      </ion-item>
      <ion-item class="invalid-message" *ngIf="registerForm.controls.password.errors && (registerForm.controls.password.dirty || registerForm.controls.password.touched )">
        <p [hidden]="!registerForm.controls.password.errors.password">invalid password</p>
        <p [hidden]="!registerForm.controls.password.errors.required">this field is required</p>
      </ion-item>
      <ion-item>
        <ion-label floating>confirm password</ion-label>
        <ion-input type="password" #passwordConfirmation formControlName="passwordConfirmation" [(ngModel)]="this.registro.passwordConfirmation" (focusout)="onFocusOut(passwordConfirmation)"></ion-input>
      </ion-item>
      <ion-item class="invalid-message" *ngIf="registerForm.controls.passwordConfirmation.errors && (registerForm.controls.passwordConfirmation.dirty || registerForm.controls.passwordConfirmation.touched )">
        <p [hidden]="!registerForm.controls.passwordConfirmation.errors.passwordConfirmation">invalid passwordConfirmation</p>
        <p [hidden]="!registerForm.controls.passwordConfirmation.errors.required">this field is required</p>
        <p [hidden]="!passwordMismatch">password mismatch</p>
      </ion-item>
      <div padding>
        <button type="" ion-button style="float: right">Register</button>
      </div>
    </ion-list>
  </form>
</ion-content>