<!--
  Generated template for the MatchMainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Find my player</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-tabs>
    <ion-tab tabIcon="fmp-crown" tabTitle="Match" [root]="tabMatch"></ion-tab>
    <!-- <ion-tab tabIcon="fmp-sword" tabTitle="Meus Matches" [root]="tabMeusMatches" ></ion-tab> -->
  </ion-tabs>
</ion-content>