
<ion-content padding>
  <h1>Weak against</h1>
  <ion-list>
    <ion-item *ngFor="let heroi of heroisCounter" >
      <ion-avatar>
        <img src="{{ heroi.nome | lolImagens:'champion_sphash' }}"/>
      </ion-avatar>
      <ion-content>
        <h2>{{ heroi.nome }}</h2>
      </ion-content>
    </ion-item>
  </ion-list>
  <h1>Great against</h1>
  <ion-list>
    <ion-item *ngFor="let heroi of heroisFracos" >
      <ion-avatar>
        <img src="{{ heroi.nome | lolImagens:'champion_sphash' }}"/>
      </ion-avatar>
      <ion-content>
        <h2>{{ heroi.nome }}</h2>
      </ion-content>
    </ion-item>
  </ion-list>
</ion-content>
