<!--
  Generated template for the SelecionarHeroiModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Select a Champion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <div *ngFor="let heroi of herois">
    <ion-item>
      <ion-avatar item-start>
        <img item-start src="{{ heroi.nome | lolImagens:'champion_square' }}">
      </ion-avatar>
      <!-- <ion-img item-start class="img-game" src="{{ game.iconUrl }}"></ion-img> -->
      <ion-label>
        <h5>{{ heroi.nome }}</h5>
        <h6>{{ heroi.titulo }}</h6>
      </ion-label>
      <div item-content>
        <button ion-button outline (click)="onClickSelectHeroi($event, heroi)">select</button>
      </div>
    </ion-item>
  </div>
</ion-content>
