<!--
  Generated template for the TelaIntegracaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Compleate your profile</ion-title>
    <ion-buttons end>
      <button ion-button (click)="onClickNext()" *ngIf="completar" >
      finish
    </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list-header>Complete your profile</ion-list-header>
  <div *ngFor="let game of games">

    <ion-item>
      <ion-img item-start class="img-game" src="{{ game.iconUrl }}"></ion-img>
      <ion-label>
        <h5>{{ game.nome }}</h5>
         <h6 *ngIf="game.adicionado">{{ game.nomeConta }}</h6> 
      </ion-label>
      <div item-content>
         <button ion-button outline *ngIf="game.adicionado" (click)="onClickGameAccount($event, game)">change</button> 
         <button ion-button outline *ngIf="!game.adicionado" (click)="onClickGameAccount($event, game)">add account</button> 
      </div>
    </ion-item>
  </div>
</ion-content>