<!--
  Generated template for the ChampionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Champion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-tabs>
    <ion-tab tabIcon="fmp-crown" tabTitle="Info" [root]="tabInfo" [rootParams]="heroi"></ion-tab>
    <ion-tab tabIcon="fmp-sword" tabTitle="Counters" [root]="tabCounters" [rootParams]="heroi"></ion-tab>
    <ion-tab tabIcon="pricetags" tabTitle="User Builds" [root]="tabUserBuild" [rootParams]="heroi"></ion-tab>
    <ion-tab tabIcon="create" tabTitle="Create Build" [root]="tabBuild" [rootParams]="heroi"></ion-tab>
  </ion-tabs>
</ion-content>
