<!--
  Generated template for the MatchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

  <h2 *ngIf="!usuarios || usuarios.length == 0">No users yet</h2>
  <ion-list>
    <ion-item-sliding #item *ngFor="let usuario of usuarios">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{usuario?.leagueOfLegends?.imagem | lolImagens:'profile'}}">
        </ion-avatar>

        <div item-content>
          <!-- <h3>Don't Know What To Do!</h3> -->
          <ion-grid>
            <ion-row>
                <ion-label>
                  <h2>{{usuario?.leagueOfLegends?.nick}}</h2>
                </ion-label>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-avatar>
                  <img src="{{usuario?.leagueOfLegends?.heroiPrincipal?.nome | lolImagens:'champion_square'}}" alt="">
                </ion-avatar>
              </ion-col>
              <ion-col>
                <ion-avatar>
                  <img src="{{usuario?.leagueOfLegends?.heroiSecundario?.nome | lolImagens:'champion_square'}}" alt="">
                </ion-avatar>
              </ion-col>
              <ion-col>
                <ion-avatar>
                  <img src="{{usuario?.leagueOfLegends?.lanePrincipalId | lanesImages}}" alt="">
                </ion-avatar>
              </ion-col>
              <ion-col>
                <ion-avatar>
                  <img src="{{usuario?.leagueOfLegends?.laneSecundariaId | lanesImages}}" alt="">
                </ion-avatar>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-item>
      <ion-item-options side="left" (ionSwipe)="onMatch(item, usuario)">
        <button ion-button expandable (click)="onMatch(item, usuario)"><ion-icon name="heart"></ion-icon>Like</button>
      </ion-item-options>
      <ion-item-options side="right" (ionSwipe)="onIgnorar(item, usuario)">
        <button ion-button expandable (click)="onIgnorar(item, usuario)" color="danger"><ion-icon name="thumbs-down"></ion-icon>Dislike</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>